[Unit]
Description=Weather collector service
Documentation=https://github.com/bwolf/weather-collector
After=network.target

[Service]
Type=simple
User=weather
ExecStart=/usr/bin/weather-collector -logfile /var/log/weather/collector.log
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
Alias=weather-collector.service
